<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard
{{#if user.roll}}
     Student
{{else}}
     Teacher
{{/if}}
</p>
        <div class="bg-info">
            <span><b>Name : {{{user.name}}}</b></span>
            <br>
            <span>Email : {{{user.email}}}</span>
    {{#if user.roll}}
        <br>
        <span>Roll Number : {{{user.roll}}}</span>
    {{/if}}
        </div>
<br>
<br>
</b>
{{#if user.val}}
    <form method="post" action="/users/signup">
        <div class="form-group">
            <label style="color: lightcoral">You have not yet entered your role**</label>
            <input type="text" class="form-control alert-danger" placeholder="Role" name="role">
        </div>
        <button type="submit" class = "btn btn-success">Complete registeration</button>
    </form>
{{/if}}