<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go to Login</title>
</head>
<body>

<a href="api/v1/signup/teacher">Sign Up as a Teacher</a><br>
<a href="/api/v1/signup/student">Sign Up as a Student</a><br>


Don't have account ?
<a href="/login">Login</a>

</body>
</html>